body {
    margin: 0;
    padding: 0;
    background: #2f2f2f;
    font-family: arial;
    font-size: 18px;
}

.nav {
    background: #131313;
}

.nav a {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 18px 36px 12px;
}

.nav a:hover {
    background: #222;
}

h1 {
    margin: 0;
    font-weight: normal;
}

#status {
    color: #ccc;
    padding: 9px 0;
}

.main {
    padding-top: 9px;
}

#fen {
    display: block;
    border: 0;
    padding: 9px 18px;
    font-size: 18px;
    width: 100%;
    background: #222;
    color: #666;
}

button {
    font-size: 18px;
    padding: 9px 18px;
    background: #333;
    border: 0;
    color: #666;

}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }

    .nav a {
        float: left;
        border-left: 1px solid #2a2a2a;
    }

    .nav a:last-child {
        border-right: 1px solid #2a2a2a;
    }

    .nav:after {
        display: block;
        clear: both;
        content: "";
    }
}
